*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
.container {
  background-color: #f8fafc;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  background-color: #9ca3af;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 3fr 1.5fr 2fr;
  row-gap: 2rem;
}

.logo {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.logo > img {
  justify-self: center;
  align-self: center;
  cursor: pointer;
}

.logo > p {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  align-self: center;
  cursor: pointer;
}

.navbar {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  justify-items: start;
}

.navbar-item {
  display: grid;
  grid-template-columns: 30px 80px;
  column-gap: 1rem;
}

.navbar-item > p {
  font-weight: 500;
  font-size: 1.1rem;
  text-align:left;
  align-self: center;
  width: fit-content;
  cursor: pointer;
}

.navbar-item > img,
.search > img,
.icon {
  align-self: center;
  width: 2rem;
  cursor: pointer;
}

.support {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: start;
}

.main {
  background-color: #f8fafc;
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.header {
  background-color: #374151;
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding: 0.3rem 1rem;
  box-shadow: 2px 3px 8px 2px #888888;
}

.header-top {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 1rem;
}

.search {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
}

.search > img {
  justify-self: end;
}

.search > input {
  appearance: none;
  width: 40vw;
  border-radius: 1rem;
  background-color: #f8fafc;
}

.user-preview {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  column-gap: 1rem;
  justify-items: end;
}

.user-preview > p {
  font-weight: 700;
  font-size: 1.4rem;
  justify-self: start;
  align-self: center;
  width: fit-content;
  cursor: pointer;
  color:#f8fafc;
}

.pic {
  width: 3rem;
  border-radius: 50%;
  background-color: #5b21b6;
  cursor: pointer;
  align-self: center;
  justify-self: center;
}

.header-bot {
  display: grid;
  grid-template-columns: 2fr 1fr;

}

.user-info {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1rem;
}

.user-info > p {
  grid-column: 2/3;
  width: fit-content;
}

.user-info p:nth-child(3) {
  font-weight: 700;
  font-size: 2rem;
  justify-self: start;
  color:#f8fafc;
}

.hash {
  font-size: 1.2rem;
  font-weight: 500;
  align-self:flex-end;
  color:#f8fafc;
}

.user-info > img {
  grid-row: span 2;
  width: 5rem;
  border-radius: 50%;
  background-color: #5b21b6;
  cursor: pointer;
  align-self: center;
  justify-self: end;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

button {
  width: 80%;
  border-radius: 20px;
  background-color: #9ca3af;
  font-size: 1.2rem;
  font-weight: 500;
  border:solid #9ca3af;
  cursor: pointer;
  padding: 0;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 1rem;
  gap: 2rem;
}

.projects {
  grid-row: 1/3;
}

.projects > p,
.announcements > p,
.trending > p {
  font-weight: 700;
  font-size: 1.3rem;
  background-color: #5b21b6;
  width: fit-content;
  padding: 0.1rem 1rem;
  color:#f8fafc;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.card {
  background-color: #374151;
  display: grid;
  grid-template-columns: 15px minmax(200px,1fr);
  grid-template-rows: 30px 200px 65px;
  border-radius: 15px;
  padding-right: 1rem;
  column-gap: 1rem;
}

.void {
  grid-row: span 4;
  grid-column: 1/2;
  width: 100%;
  background-color: #5b21b6;
  border-radius: 15px 0 0 15px;
}

.card p:nth-child(2) {
  font-weight: 700;
  color:#f8fafc;
  align-self: end;
}

.card p:nth-child(3) {
  font-weight: 400;
  color:#d1d5db;
  align-self: start;
  width: 95%;
}

.icons {
  display: grid;
  grid-template-columns: 3 fr 1fr 1fr 1fr;
  justify-content: end;
  column-gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.icons img:nth-child(1){
  grid-column: 2/3;
}

.icons img:nth-child(2){
  grid-column: 3/4;
}

.icons img:nth-child(3){
  grid-column: 4/5;
}

.icons > img {
  width: 2rem;
  cursor: pointer;
  align-self: end;
}

.announcements-wrapper {
  background-color: #374151;
  border-radius: 15px;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.announcements-wrapper p:nth-child(1) {
  font-weight: 700;
  color:#f8fafc;
  align-self: end;
}

.announcement-section:nth-child(2),
.announcement-section:nth-child(3) {
  padding-top: 0.7rem;
}

.announcements-wrapper p:nth-child(2) {
  font-weight: 400;
  color:#d1d5db;
  align-self: start;
  width: 95%;
}

.announcements-wrapper .announcement-section:nth-child(1) {
  border-bottom: 1px solid #d1d5db;
}

.announcements-wrapper .announcement-section:nth-child(3) {
  border-top: 1px solid #d1d5db;
}

.trending-wrapper {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  column-gap: 1rem;
  background-color: #374151;
  border-radius: 15px;
  row-gap: 1rem;
  padding: 1rem;
}

.trending-section {
  display:grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1rem;
}

.trending-section > img {
  grid-row: span 2;
    width: 5rem;
    border-radius: 50%;
    background-color: #5b21b6;
    cursor: pointer;
    align-self: center;
    justify-self: end;
}

.trending-section  p:nth-child(2) {
  font-weight: 700;
  color:#f8fafc;
  align-self: end;
}

.trending-section  p:nth-child(3) {
  font-weight: 400;
  color:#f8fafc;
  align-self: start;
  width: 95%;
}